* {
  margin: 0px;
  padding: 0px;
}

#root {
  background-color: black;
  height: (60vw-120vw);
}

main {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: radial-gradient(rgb(0, 4, 255) 5%, transparent 95%);
}

.navBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 1rem;
}

.buttonNavBar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 1rem;
  width: 9rem;
  height: 3rem;
  font-size: x-large;
}

.buttonNavBar:hover {
  transition: 0.5s;
  background-color: rgba(0, 255, 0, 0.63);
}

#greeting {
  text-align: center;
  box-sizing: border-box;
  padding: 1rem;
}

.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.productCard {
  display: flex;
  padding: 1rem;
  border-style: solid;
  width: 40%;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 0, 255);
  transition: 0.5s;
  text-align: center;
}

.productCard:hover {
  transition: 0.5s;
  background-color: rgba(0, 68, 255, 0.473);
}

.productCardForId {
  display: flex;
  padding: 1rem;
  border-style: solid;
  width: 35%;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0);
  border-color: rgb(255, 0, 255);
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  border-radius: 1rem;
}

.itemCount {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
}

.itemCount button {
  margin: 1rem;
  border-radius: 0.4rem;
  font-weight: bold;
  transition: 0.5s;
  border-style: none;
  padding: 0.5rem;
}

.itemCount button:hover {
  background-color: #1c92f9;
  color: aliceblue;
  border-radius: 0.4rem;
  font-weight: bold;
}

p {
  font-weight: 700;
  color: white;
}

.tituloProducto {
  color: white;
}

span {
  color: white;
}

.loading {
  text-align: center;
  color: white;
  margin: 1rem;
}

.linkProduct {
  text-decoration: none;
}

.rounded {
  margin: 1rem;
}

.inCart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.textDetail {
  margin-bottom: 0;
}

.details h3 {
  color: white;
}

.containerResumen {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: auto;
}

.containerResumen a {
  text-decoration: none;
}

#noHay {
  color: white;
  text-decoration: none;
  text-align: center;
  font-style: normal;
}

header a {
  text-decoration: none;
}

.personalData {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 1rem;
  padding: 1rem;
  border-color: rgb(200, 255, 0);
  margin: 2rem;
  width: max-content;
}

.personalData h4 {
  color: white;
  margin: 1rem;
}

.personalData h3 {
  color: white;
  margin: 1rem;
}

.personalData .btn {
  margin: 1rem;
}

.personalDataInput {
  margin: 1rem;
  width: 20rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  height: 8rem;
  bottom: 0;
}

.contact a {
  color: black;
}

.detailsOrders {
  display: flex;
  flex-direction: row;
  align-items: center;
}

table {
  text-align: center;
}

.loading{
  color: white;
  font-size: x-large;
  font-weight: bolder;
}

.noHayNada{
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-radius: 1rem;
  padding: 3rem;
  border-color: rgb(255, 0, 0);
  margin: 2rem;
  width: max-content;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}